.atas1{
    display: flex;
    width: 100%;
    background-color: rgb(170, 109, 90);
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    top: 0;
    position: absolute;
}
.blank{
    margin-right: 11vh;
    visibility: hidden;
}
.checkoutBox{
    top: 0;
    position: absolute;
    background-color: white;
    margin-top: 20vh;
    margin-left: 20vh;
    width: 80vh;
    height: 65vh;
    color: rgb(170, 109, 90);
    border-radius: 20px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.checkoutBox .bill{
    text-align: center;
    font-size: 25pt;
    font-weight: 900;
    margin-bottom: 20px;
}
.checkoutList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.checkoutList1{
    display: flex;
    font-size: 20pt;
    font-weight: 900;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}
.checkoutList2{
    display: flex;
    font-size: 20pt;
    font-weight: 900;
    justify-content: space-between;
    margin-top: 60%;
    position: absolute;
    width: 70%;
}
.payButton{
    top: 0;
    position: absolute;
    margin-left: 74%;
    margin-top: 79vh;
    color: white;
    border-radius: 20px;
    display: flex;
    border: 10px solid rgb(84, 135, 92);
    font-size: 30pt;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(127, 175, 135);
    width: 25vh;
    height: 15vh;
}
.payButton:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}